<div class="fw-page">
<mat-card>
  <form class="form-flex" [formGroup]="tagForm" (ngSubmit)="submit()" fxLayout="column" fxLayoutGap="10px" fxFlexFill>

    <p class="note">
      <a routerLink="/home">{{note?.dateStr}}</a>
    </p>

    <mat-form-field class="example-chip-list">
      <mat-chip-grid #chipList>
        <mat-chip-row
          *ngFor="let tagName of tagNames"
          (removed)="remove(tagName)">
          {{tagName}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
        <input
          placeholder="New tag..."
          #tagInput
          [formControl]="tagCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-grid>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tagName of filteredTags| async" [value]="tagName">
          {{tagName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button type="submit" color="primary" mat-raised-button>Submit</button>
  </form>
</mat-card>

<mat-card>
  <p>
    <label id="cat-radio-group-label">Select category</label>
  </p>
  <mat-radio-group aria-label="cat-radio-group-label">
    <mat-radio-button *ngFor="let cat of categories" [value]="cat" (click)="selectCategory(cat)">{{cat}}</mat-radio-button>
  </mat-radio-group>
</mat-card>

<mat-card>
  <mat-nav-list>
    <mat-list-item *ngFor="let tag of catFilteredTags" class="note" (click)="selectTag(tag)">
      <a matLine>{{ tag }}</a>
      <button mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<p>Version 2023-07-01 13:00</p>
</div>