<p>tags works!</p>

<!--mat-form-field class="example-chip-list">
    <mat-label>Tags for {{dstamp}}</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let tagName of tagNames">
        {{tagName}}
      </mat-chip>
      <input
        placeholder="New tag..."
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tagName of filteredTags | async" [value]="tag">
        {{tagName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field-->
